<component name="ArtifactManager">
  <artifact type="war" name="spring-dynamic-datasource:war">
    <output-path>$PROJECT_DIR$/spring-dynamic-datasource/target</output-path>
    <root id="archive" name="dynamic-dataSource.war">
      <element id="artifact" artifact-name="spring-dynamic-datasource:war exploded" />
    </root>
  </artifact>
</component>